.DS_Store
.definition
.dislap
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iml
modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/encodings.xml
*.ipr
fragments/.DS_Store
/node_modules/
/tests_output/
/.env
/test-results/
/playwright-report/
/playwright/.cache/
/screens/
/.idea
/composer.lock
/.php-cs-fixer.cache
/vendor
